<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>BigBang - 用JS模仿锤子系统的消息分词功能</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="container">
    <div class="header">BigBang Demo</div>
    <dl class="msg-block">
        <dt class="head"><img src="img/head.jpg" alt="harry.lang"/></dt>
        <dd class="msg">Hi Harry，JavaScript是什么？</dd>
    </dl>
    <dl class="msg-block">
        <dt class="head"><img src="img/head.jpg" alt="harry.lang"/></dt>
        <dd class="msg">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</dd>
    </dl>
    <dl class="msg-block">
        <dt class="head"><img src="img/head.jpg" alt="harry.lang"/></dt>
        <dd class="msg">JavaScript A literal scripting language, a dynamic type, a weak type, a prototype-based language, and a built-in support type. Its interpreter, known as the JavaScript engine, is part of the browser and is used extensively in client-side scripting languages. It was first used in HTML (an application under the Standard Generalized Markup Language) and
            used to add dynamic functionality to HTML pages
        </dd>
    </dl>

    <div class="bang-box">
        <div class="bang-backdrop"></div>
        <a href="javascript:;" class="bang-copy">复制</a>
        <a href="javascript:;" class="bang-close">取消</a>

        <div class="bang-inner">
            <!--<div class="bang-label">fasfsdafsdafsad</div>-->
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery-1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/zeroclipboard-2.2.0/ZeroClipboard.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>